<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Calculator Controller</title>
    </h:head>
    <h:body>        
        <h:form>
            <h3>Virtual Machine:</h3>
            
            <p>
                Jar File
                <h:inputText value="input" size="20"/>
                <h:commandButton value="Browse" action="index"/>
                <h:commandButton value="Update" action="index"/>
            </p>
            
            <h:dataTable value="#{virtualMachineList}" var="virtualMachine">
                <h:column headerClass="columnHeader">
                    <f:facet name="header">Selected</f:facet>
                    <h:selectBooleanCheckbox value="#{virtualMachine.checked}"/>
                </h:column>
                <h:column headerClass="columnHeader">
                    <f:facet name="header">Name</f:facet>
                    #{virtualMachine.name}
                </h:column>
                <h:column headerClass="columnHeader">
                    <f:facet name="header">Status</f:facet>
                    #{virtualMachine.status}
                </h:column>
                <h:column headerClass="columnHeader">
                    <f:facet name="header">Jar File Version</f:facet>
                    #{virtualMachine.jarFileVersion}
                </h:column>
                <h:column headerClass="columnHeader">
                    <f:facet name="header">Progress</f:facet>
                    #{virtualMachine.progress}
                </h:column>
            </h:dataTable>
                        
            <p>
                <h:commandButton value="Start" action="#{virtualMachineList.start()}"/>
                <h:commandButton value="Stop" action="#{virtualMachineList.stop()}"/>
                <h:commandButton value="Query" action="#{virtualMachineList.query()}"/>
                <h:commandButton value="Add" action="#{virtualMachineList.add()}"/>
                <h:commandButton value="Remove" action="#{virtualMachineList.remove()}"/>
            </p>
        </h:form>        
    </h:body>
</html>

